<%= form_for ContactForm.new do |f| %>
  <div class="contact_form_container">
    <p><%= f.text_field :name, placeholder: "Enter Your Name" %></p>
    <p><%= f.text_field :email, placeholder: "Enter Your Email" %></p>
    <p><%= f.text_area :message, placeholder: "Enter Your Message" %></p>
    <p><%= f.submit "Send Message" %></p>
  </div>
<% end %>
